@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
}

#logo {
    margin-left: 50px;
}

#NavbarIzq {
    height: 60px;
    width: 100%;
    background-color: rgb(78, 49, 225);
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#NavbarIzq ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

#NavbarIzq ul li a {
    color: white;
    text-shadow:
        0 0 7px #D7D1F8,
        0 0 8px #D7D1F8,
        0 0 11px #D7D1F8,
        0 0 42px #8975EB,
        0 0 82px #8975EB,
        0 0 92px #8975EB,
        0 0 102px #8975EB,
        0 0 151px #8975EB;
    cursor: pointer;
}

/* INICIO CSS INDEX */

.Banner {
    height: 600px;
    width: 100%;
    background-color: rgb(52, 32, 150);
    display: flex;
    align-items: center;
    --mask:
        radial-gradient(51.61px at 50% calc(100% - 72.00px), #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(51.61px at 50% calc(100% + 42.00px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.contLeft {
    background-image: url('./img/gamer-sillon.png');
    width: 600px;
    height: 400px;
    margin-left: 100px;
    float: left;
}

.contRight {
    width: 700px;
    height: 400px;
    float: right;
    text-align: center;
    margin-left: 350px;
}

.contRight h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 55px;
    color: white;
}

.contRight p{
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    color: whitesmoke;
}


.contBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#btnIngresar{
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
}