{% extends "componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Administración{% endblock %}</title>
</head>

<body>
    
    {% if user.admin == False and user.tecnico == False%}
    <script>window.location.href = '/Inicio/{{ user.id }}';</script>
    {% else %}
    <h1 id="Titulo">Preguntas de los usuarios</h1>
    {% for pregunta in Preguntas %}
        <table>
            <th scope="col">Titulo</th>
            <th scope="col">Usuario</th>
        </table>
        <tbody>
            <td>{{pregunta.Titulo}}</td>
            <td>{{pregunta.Usuario}}</td>
        </tbody>
        <a href="/Respuesta/{{ user.id }}/{{pregunta.idPregunta}}">
            <h1>Titulo: <label>{{pregunta.Titulo}}</label></h1>
            <h1>Usuario: <label>{{pregunta.Usuario}}</label></h1>
        </a>
        {% if user.admin %}
        <div>
            <a href="/BorrarPregunta/{{ user.id }}/{{ pregunta.idPregunta }}"
                onclick="return confirm('¿Estas seguro de borrar la pregunta?')">
                <h1>Borrar</h1>
            </a>
            <a href="/ModificarPregunta/{{ pregunta.idPregunta }}">
                <h1>Modificar</h1>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endblock %}
</body>

</html>