{% extends "componentes/header.html" %}

{% block title %} asdas {% endblock %}

{% block content %}
    {% if user.admin == False%}
        {% if user.tecnico == True %}
            <script>window.location.href = '/Administracion/';</script>
        {% endif%}
            <script>window.location.href = '/Inicio/{{ user.id }}';</script>
    {% else %}
        <form method="post">
            {{form}}
            {% csrf_token %}
            <input type="submit" value="Modificar pregunta">
        </form>
    {% endif %}
{% endblock %}