{% extends "componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} Login {% endblock %}
</head>

<body>
    {% block content %}
    <div class="mainLogin">
        {% if user.is_authenticated %}
        <script>window.location.href = '/Inicio/{{ user.id }}';</script>
        {% else %}
        <h2>Iniciar sesión</h2>
        <form id="Formulario" method="POST">
            {{form}}
            {% csrf_token %}
            <input value="Iniciar Sesion" type="submit">
        </form>
        <p>¿Aun no tienes cuenta? <a href="/Register/">Registrate ya!</a></p>
        {% endif %}
    </div>
    <footer>
        <ul>
            <li><a style="color: #C4BAF5;">Contacto</a></li>
            <li><a>Instagram</a></li>
            <li><a>Facebook</a></li>
        </ul>
        <ul>
            <li><a style="color: #C4BAF5;">Ubicación</a></li>
            <li><a> Av. Américo Vespucio 974, Maipú, Región Metropolitana</a></li>
        </ul>
        <ul>
            <li><a style="color: #C4BAF5;">Copyright © 2022-2022 Kevin & Matias Company - Todos los derechos reservados</a></li>
        </ul>
    </footer>
    {% endblock %}

</body>

</html>