<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estiloHeader.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div id="NavbarIzq">
            <ul>
                <li><h2>Call of gamers</h2></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
                <li><a>Inicio</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>